.node {
    width: 19px;
    height: 19px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

.wall {
    background-color: lightslategray;
}

.icon {
    size: 0.6em;
    text-align: center;
    display: flex;
}